html{
    box-sizing: border-box;
    font-size: 100%;
}


.option {
    padding: 5px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: lightgray;
  }
  
  .button {
    color: blue;
  }